<%- partial('_partial/head') %>

    <body>
        <amp-auto-ads type="adsense" data-ad-client="ca-pub-2761554655832112">
        </amp-auto-ads>
        <img src="/favicon.png" style="position: absolute; left: -9999px; opacity: 0; filter: alpha(opacity=0);">

        <%- partial('_partial/header') %>
            <main>
                <%- body %>
                   
            </main>
            <%- partial('_partial/footer') %>

                <%- partial('_partial/after_footer') %>
    </body>

    </html>